    <div class="row">
      <div class="span12">
        <div class="alert alert-block">
          <a class="close" data-dismiss="alert">×</a>
          <h4 class="alert-heading">Заголовок меседжа</h4>
          <p>Непосредственно сам меседж</p>
        </div>
      </div>
    </div>